{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Home{% endblock 'title' %}
{% block 'content' %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>I'm <span>Jenny Wilson</span> a Professional Photographer from New York City</h2>
          <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui libero. Qui voluptas amet.</p>
          <a href="contact.html" class="btn-get-started">Available for hire</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= Gallery Section ======= -->
    
    <section id="gallery" class="gallery">
      <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
          {% for item in gallery %}
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src={{item.image.url}} class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href={{item.image.url}} title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
              <a href={% url 'gallery:gallery-detail' id=item.id %} class="details-link"><i class="bi bi-link-45deg"></i></a>
               
              </div>
          
            </div>
            
          </div><!-- End Gallery Item -->
          {% endfor %}
      </div>
    </section><!-- End Gallery Section -->

  </main><!-- End #main -->

  {% endblock 'content' %}